<dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title"></h4>
    <div class="mdl-dialog__content">
        <p>
            Supprimer définitivement {{ designation }}?
        </p>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button validate" data-elementId="{{ element.id }}" data-designation="{{ designation }}">OUI</button>
        <button type="button" class="mdl-button close">NON</button>
    </div>
</dialog>