<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Informations médicales{% endblock %}</title>

        {% include('components/stylesheets.html.twig') %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div class="mdl-layout mdl-js-layout">

            {% include('components/menu.html.twig') %}

            {% block body %}
            {% endblock %}

        </div>

        {% include('components/javascript.html.twig') %}

    </body>
</html>

{# TODO P2 : traduire les libellé des inputs de tous les forms #}