{% extends 'base.html.twig' %}

{% block body %}
    <div>
        Je vais faire un menu avec
        <ul>
            <li>
                <a href="/app.php/add">
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect mdl-button--accent">
                        <i class="material-icons">add</i>
                    </button>
                </a>
            </li>
            <li>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect mdl-button--accent">
                    <i class="material-icons">desktop_windows</i>
                </button>
            </li>
        </ul>
    </div>

    <div>
        ceci sera ma action ajout de presentation avec un form
    </div>
{% endblock %}
