{% extends 'base.html.twig' %}

{% block body %}
    <div class="mdl-layout__content">

        <ul class="demo-list-item mdl-list">
            <li class="mdl-list__item mdl-list__item_form">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                    <label for="input_text" class="mdl-textfield__label">First name</label>
                    <input type="text" class="mdl-textfield__input" id="input_text" />
                </div>
            </li>
            <li class="mdl-list__item mdl-list__item_form">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label for="input_email" class="mdl-textfield__label">Email</label>
                    <input type="email" class="mdl-textfield__input" id="input_email" />
                </div>
            </li>
            <li class="mdl-list__item mdl-list__item_form">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label for="input_password" class="mdl-textfield__label">Password with verification</label>
                    <input type="password" pattern="[0-9]*" class="mdl-textfield__input" id="input_password" />
                    <span class="mdl-textfield__error">Digits only</span>
                </div>
            </li>
        </ul>



        <label for="checkbox-1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" >
            <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked />
            <span class="mdl-checkbox__label">Checkbox</span>
        </label>

        <label for="option-1" class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
            <input type="radio" class="mdl-radio__button" id="option-1" name="options" value="1" checked/>
            <span class="mdl-radio__label">Option 1</span>
        </label>

        <label for="option-2" class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
            <input type="radio" class="mdl-radio__button" id="option-2" name="options" value="2" />
            <span class="mdl-radio__label">Option 2</span>
        </label>
    </div>

    </div>
{% endblock %}


