{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        Je vais faire un menu avec
        <ul>
            <li>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect mdl-button--accent">
                    <i class="material-icons">add</i>
                </button>
            </li>
            <li>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect mdl-button--accent">
                    <i class="material-icons">desktop_windows</i>
                </button>
            </li>
        </ul>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
{% endblock %}
