{% extends 'base.html.twig' %}

{% block body %}
    {# TODO P3 : mise en forme form ajout avec material design input #}
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
