{% extends 'base.html.twig' %}

{% block body %}
    <div>
        Toutes mes présentations :
    </div>
    <div>
        {% for presentation in presentations %}
            <li>{{ presentation.name }}</li>
        {% endfor %}
    </div>
{% endblock %}
