{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h3>Liste des présentations</h3>
        {% for presentation in presentations %}
            <li>{{ presentation.name }}</li>
        {% endfor %}
    </div>
{% endblock %}
