{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Liste des présentations</h1>
        {% for presentation in presentations %}
            <li>{{ presentation.name }}</li>
        {% endfor %}
    </div>
{% endblock %}
