{% extends 'base.html.twig' %}

{% block body %}
    <div>
        Je vais organiser mes présentations ici (lesquelles affichées par tranches horaires, dans quel ordre, etc...)
    </div>
{% endblock %}
