{% extends 'base.html.twig' %}

{% block body %}
    <div>

        <h1>Liste des présentations</h1>
        <ul id="sortable">
            {% for presentation in presentations %}
                <li class="ui-state-default" id="{{ presentation.id }}"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{ presentation.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <button id="getOrder">Get Order</button>
    </div>
{% endblock %}


